::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #b01f1f;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c7accb;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #65606e;
}

.footerr {
  color: #c41111;
  background-color: #d40f0f;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

